@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tapestry&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0%;
  display: flex;
  flex-direction: column;
}

.fondo {
  background-image: url("https://thumbs.dreamstime.com/b/cami%C3%B3n-en-la-carretera-en-las-monta%C3%B1as-41057516.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
}

.title {
  font-family: "Tapestry", cursive;
  color: black;
  margin-top: 0px;
  background-color: rgba(57, 105, 52, 0.2);
  border-radius: 10px;
  font-weight: 800;
  font-size: 70px;
  max-width: fit-content;
  margin-left: 20px;
}

.button {
  cursor: pointer;
  color: black;
  font-weight: 600;
  padding: 15px 25px;
  background-color: rgba(245, 245, 245, 0.344);
  border-radius: 15px;
  margin-left: 90px;
  font-size: 30px;
  font-family: "Great Vibes", cursive;
}

.button:hover {
  background-color: rgba(245, 245, 245, 0.3);
  border: 2px solid black;
  padding: 16px 26px;
}